$color--primary: #23B5D3;
$color--white: #FFFFFF;
$color--gray: #CCCCCC;

.tabbr {
    &__nav-item {
        outline: none;
        border: none;

        background-color: $color--white;
        border-bottom: 2px solid $color--gray;

        &:hover {
            border-color: lighten($color--primary, 20%);
        }

        &.active {
            border-color: $color--primary;
        }
    }

    &__tabs {
        overflow-y: auto;
        border: 2px solid $color--primary;
        padding: 16px;
    }
}